html, body {
  height: 90%;
  width: 90%;
}

body{
  background-color: gray;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: gold;
  font-family: "Times New Roman", Times, serif;
}

h1{
  background-color:gray;
  color: gold;
}

img{
  border: 1px solid #ffd700;
  height: auto;
  max-width: 50%;
}

ul.nav1{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li.nav2{
  float:center;
}

li.nav2 a{
  display: grid;
  color: gold;
  text-align: center;
  padding: 24px 26px;
  text-decoration: f;
}

li.nav2 a:hover{
  background-color: gray;
  color: gold; 
}

button{
  background-color: gray;
  color: gold;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #ffffff;
  color: #04AA6D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  border-radius: 5px;
  border-color: gold;
}

table, th, td {
  border: 1px solid gold;
}

.topnav {
  background-color: gray;
  float: center;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: gold;
  text-align: center;
  text-decoration: none;
  padding: 5%;
  outline: 2px;
  outline-style: solid;
  outline-color: skyblue;
  font-size: 2vw;
}


.topnav a:hover {
  background-color: #8000ff;
  color: gold;
}

.topnav a.active {
  background-color: gold;
  color: gray;
}

label {
  background-color: gold;
  color: gray;
}

input {
  background-color: gold;
  color: blue;
}
